body {
    background-color: #786af6;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 228, 196, 0.5);
    z-index: 1;
}

h1 {
    color: #fff;
    text-align: center;
    padding-top: 1rem;
    margin: 0 1rem 0;
}

/* h1 + label {
    color: #fff
} */

.add-wrapper {
    text-align: center;
}

.add-wrapper label {
    color: #fff;
    font-size: 1.3rem;
    vertical-align: middle;
}

/* .add-wrapper button {
    width: 3rem;
    height: 2rem;
    vertical-align: middle;
    margin-left: 0.6rem;
    background-image: url("images/witch-hat.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
} */

table {
    width:90%;
    background-color: #7dcfeb;
    margin: 1rem;
    table-layout: fixed;
}

th,
td {
    width: 30%;
}

td {
    word-break: break-all;
}

tr {
    padding: 0.5rem;
}

.pword-add {
    position: relative;
    background-color: #a1a1a1;
    z-index: 2;
    display: flex;
    padding: 2rem;
    width: 70%;
    margin: auto;
    box-shadow: 6px 6px 5px;
}

.pword-add label {
    display: block;
    margin: 0.5rem;
}

.pword-add button {
    margin: 0.5rem;
}

.pword-add button:first-of-type {
    display: block;
}

#copy {
    font-size: 0.8rem;
}

#td-wrapper {
    display: flex;
}

.table-eye,
.table-slash {
    font-size: 0.8rem;
    margin-left: 0.5rem;
}


.hidden {
    display:none;
}